/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/* General styling */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Red Hat Display", sans-serif;


}

body {
    margin: 0;
    background: #F9F7EF;

    
}

p {
  line-height: 1.5;
}



/* @media (max-width: 800px) {
  :root {
    --global-margin: 3rem;
  }
}

@media (max-width: 500px) {
  :root {
    --global-margin: 2rem;
  }
} */


main {

padding: var(--spacing-large);

}

.heading2 {
  font-size: var(--heading-2);
  margin-bottom: 10px;
  margin-top: 0;
}


/* General button styling */
.buttonType1 {
background-color: var(--primary-yellow);
color: black;
padding: 20px 40px;
border: 3px solid transparent; 
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
text-decoration: none;
transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; 
}

.buttonType1:hover{
background-color: white; 
color: black; 
border-color: var(--primary-yellow);
transform: scale(1.05); 
  }

.centeredBtn {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;

}
  

/* Devider line styling */

.deviderLine {
    border: none;
    height: 2px;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Review section */
  .reviewSection {
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    background: #176C76;
    color: white;
    border-radius: 5px;
    height: 30vh;
  
  }
  
  .reviewSection i {
    font-size: 3rem;
    padding-bottom: 1rem;
    
  }

  .reviewSection div {
    padding-top: 2rem;
  }

  /* Intro text */
  .introText {
    font-size: var(--introSectionFont);
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  /* accordion */
 .accordion {
  max-width: 50vw;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.accordionItem {
  border-bottom: 1px solid var(--primary-text-dark);
}

.accordionClosed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;

}

.accordionOpen {
  padding: 15px;
  font-size: 16px;
}

.accordion .fa-solid {
  transition: transform 0.3s ease;
  color: var(--primary-yellow);
  font-size: 1.5rem;
}

.rotatedArrow {
  transform: rotate(180deg);
}

