/* Variabler */
:root {
  /* Farver */
    --primary-yellow: #DACC00;
    --primary-blue: #176C76;
    --primary-text-dark: #333333;


    /* Spacing */
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;

    /* Font */
    --heading-2: 40px;
    --introSectionFont: 25px;


    --desktopText-regular: 18px;

    --mediumText-regular: 15px;

    --mobileText-regular: 13px;



  }


